/* styles.css */

/* Root Variables for Easy Manipulation */
:root {
 --version-number: v13; /* Set the version number here */
  --chip-margin: 5px; /* Adjust this value to change the spacing between chips */
  --dark-blue: #1E3A8A;
  --white: #FFFFFF;
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --font-weight: normal;
  --padding: 10px;
  --margin: 10px;
  --button-spacing: 20px;
  --button-bg-color: #FFD700;
  --button-text-color: #FFFFFF;
  --chip-size: 70px; /* Set the consistent size for all chips */
  --app-title-size: 1.6em; /* Adjust this value to change the size of the app title */
 
}

/* Utility Classes for Font and Spacing */
.font-small { font-size: 0.8em; }
.font-medium { font-size: 1em; }
.font-large { font-size: 1.2em; }

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-bold { font-weight: 700; }

.margin-small { margin: 5px; }
.margin-medium { margin: 10px; }
.margin-large { margin: 20px; }

.padding-small { padding: 5px; }
.padding-medium { padding: 10px; }
.padding-large { padding: 20px; }

/* Global Styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

/* Container */
.container {
  background-color: white;
  width: 96%;
  max-width: 600px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: var(--padding);
}

/* Header */
.header {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center; /* Center align title */
  padding: var(--padding);
  box-sizing: border-box;
}

/* Menu Icon */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin-right: var(--margin);
}

.menu-icon .line {
  height: 4px;
  background-color: yellow;
}

/* Title Box */
.title-box {
  flex: 1;
  text-align: center;
}

.app-title {
  color: yellow;
  font-size: var(--app-title-size); /* Use the variable for the app title size */
  font-weight: bold;
}

/* Chips */
.chips {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.chip {
  flex: 1;
  margin: var(--chip-margin);
  position: relative;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chip img {
  width: var(--chip-size);
  height: var(--chip-size);
  object-fit: cover; /* Ensure the image fits within the specified dimensions */
}

.chip span {
  pointer-events: none;
}

/* Dark Blue Row */
.dark-blue-row {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  margin: var(--margin) 0;
}

.description {
  display: flex;
  align-items: center;
}

.description span {
  margin-right: var(--margin);
}

.description input {
  width: 40px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#game-value {
  width: 80px; /* Increase the width as needed */
  font-weight: bold;
  font-size: 20px;
  text-align: center; /* Center align text */
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead th {
  background-color: #FFD700; /* Yellow */
  color: var(--dark-blue); /* Dark blue */
  font-weight: bold;
}

tbody td {
  background-color: #f0f0f0;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 8px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin: var(--button-spacing) var(--button-spacing) 0 var(--button-spacing);
  position: relative;
}

.button-players {
  flex: 1;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 0 var(--button-spacing);
  font-weight: bold;
}

.version-number {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--dark-blue);
  background-color: var(--white);
  padding: 0 10px;
  font-size: 1em;
  font-weight: bold;
}

.button-history {
  flex: 1;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 0 var(--button-spacing);
  font-weight: bold;
}

.button-other {
  flex: 1;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 0 var(--button-spacing);
  font-weight: bold;
}

.button-players:first-child {
  margin-left: 0;
}

.button-other:last-child {
  margin-right: 0;
}
